BuberBreakfast/bin/Debug/net8.0/appsettings.Development.json
BuberBreakfast/bin/Debug/net8.0/appsettings.json
BuberBreakfast/bin/Debug/net8.0/BuberBreakfast.Contracts.dll
BuberBreakfast/bin/Debug/net8.0/BuberBreakfast.Contracts.pdb
BuberBreakfast/bin/Debug/net8.0/BuberBreakfast.deps.json
BuberBreakfast/bin/Debug/net8.0/BuberBreakfast.dll
BuberBreakfast/bin/Debug/net8.0/BuberBreakfast.exe
BuberBreakfast/bin/Debug/net8.0/BuberBreakfast.pdb
BuberBreakfast/bin/Debug/net8.0/BuberBreakfast.runtimeconfig.json
BuberBreakfast/bin/Debug/net8.0/ErrorOr.dll
BuberBreakfast/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
BuberBreakfast/bin/Debug/net8.0/Microsoft.OpenApi.dll
BuberBreakfast/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
BuberBreakfast/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
BuberBreakfast/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
BuberBreakfast/obj/BuberBreakfast.csproj.nuget.dgspec.json
BuberBreakfast/obj/BuberBreakfast.csproj.nuget.g.props
BuberBreakfast/obj/BuberBreakfast.csproj.nuget.g.targets
BuberBreakfast/obj/project.assets.json
BuberBreakfast/obj/project.nuget.cache
BuberBreakfast/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BuberBreakfast/obj/Debug/net8.0/apphost.exe
BuberBreakfast/obj/Debug/net8.0/BuberBreakfast.AssemblyInfo.cs
BuberBreakfast/obj/Debug/net8.0/BuberBreakfast.AssemblyInfoInputs.cache
BuberBreakfast/obj/Debug/net8.0/BuberBreakfast.assets.cache
BuberBreakfast/obj/Debug/net8.0/BuberBreakfast.csproj.AssemblyReference.cache
BuberBreakfast/obj/Debug/net8.0/BuberBreakfast.csproj.CopyComplete
BuberBreakfast/obj/Debug/net8.0/BuberBreakfast.csproj.CoreCompileInputs.cache
BuberBreakfast/obj/Debug/net8.0/BuberBreakfast.csproj.FileListAbsolute.txt
BuberBreakfast/obj/Debug/net8.0/BuberBreakfast.dll
BuberBreakfast/obj/Debug/net8.0/BuberBreakfast.GeneratedMSBuildEditorConfig.editorconfig
BuberBreakfast/obj/Debug/net8.0/BuberBreakfast.genruntimeconfig.cache
BuberBreakfast/obj/Debug/net8.0/BuberBreakfast.GlobalUsings.g.cs
BuberBreakfast/obj/Debug/net8.0/BuberBreakfast.MvcApplicationPartsAssemblyInfo.cache
BuberBreakfast/obj/Debug/net8.0/BuberBreakfast.MvcApplicationPartsAssemblyInfo.cs
BuberBreakfast/obj/Debug/net8.0/BuberBreakfast.pdb
BuberBreakfast/obj/Debug/net8.0/BuberBreakfast.sourcelink.json
BuberBreakfast/obj/Debug/net8.0/staticwebassets.build.json
BuberBreakfast/obj/Debug/net8.0/ref/BuberBreakfast.dll
BuberBreakfast/obj/Debug/net8.0/refint/BuberBreakfast.dll
BuberBreakfast/obj/Debug/net8.0/staticwebassets/msbuild.build.BuberBreakfast.props
BuberBreakfast/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.BuberBreakfast.props
BuberBreakfast/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.BuberBreakfast.props
BuberBreakfast.Contracts/BuberBreakfast.Contracts.csproj
BuberBreakfast.Contracts/bin/Debug/net8.0/BuberBreakfast.Contracts.deps.json
BuberBreakfast.Contracts/bin/Debug/net8.0/BuberBreakfast.Contracts.dll
BuberBreakfast.Contracts/bin/Debug/net8.0/BuberBreakfast.Contracts.pdb
BuberBreakfast.Contracts/obj/BuberBreakfast.Contracts.csproj.nuget.dgspec.json
BuberBreakfast.Contracts/obj/BuberBreakfast.Contracts.csproj.nuget.g.props
BuberBreakfast.Contracts/obj/BuberBreakfast.Contracts.csproj.nuget.g.targets
BuberBreakfast.Contracts/obj/project.assets.json
BuberBreakfast.Contracts/obj/project.nuget.cache
BuberBreakfast.Contracts/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BuberBreakfast.Contracts/obj/Debug/net8.0/BuberBreakfast.Contracts.AssemblyInfo.cs
BuberBreakfast.Contracts/obj/Debug/net8.0/BuberBreakfast.Contracts.AssemblyInfoInputs.cache
BuberBreakfast.Contracts/obj/Debug/net8.0/BuberBreakfast.Contracts.assets.cache
BuberBreakfast.Contracts/obj/Debug/net8.0/BuberBreakfast.Contracts.csproj.CoreCompileInputs.cache
BuberBreakfast.Contracts/obj/Debug/net8.0/BuberBreakfast.Contracts.csproj.FileListAbsolute.txt
BuberBreakfast.Contracts/obj/Debug/net8.0/BuberBreakfast.Contracts.dll
BuberBreakfast.Contracts/obj/Debug/net8.0/BuberBreakfast.Contracts.GeneratedMSBuildEditorConfig.editorconfig
BuberBreakfast.Contracts/obj/Debug/net8.0/BuberBreakfast.Contracts.GlobalUsings.g.cs
BuberBreakfast.Contracts/obj/Debug/net8.0/BuberBreakfast.Contracts.pdb
BuberBreakfast.Contracts/obj/Debug/net8.0/BuberBreakfast.Contracts.sourcelink.json
BuberBreakfast.Contracts/obj/Debug/net8.0/ref/BuberBreakfast.Contracts.dll
BuberBreakfast.Contracts/obj/Debug/net8.0/refint/BuberBreakfast.Contracts.dll
